@import "tailwindcss";
@font-face {
    font-family: 'SF Pro Display';
    src: url('./fonts/SF-Pro-Display-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  body {
    font-family: 'SF Pro Display', sans-serif;
  }  
*{
    /* margin:0; */
    /* padding:0; */
    box-sizing: border-box;
}
@import '@fortawesome/fontawesome-free/css/all.min.css';
/* index.css */
@keyframes scroll {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.marquee {
  animation: scroll 15s linear infinite;
  white-space: nowrap;
}

.roboto-uniquifier {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}